header {
    width: 70rem;
    margin: auto;
    height: 5rem;
    border-bottom: 1px solid gray;

    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    justify-content: space-between;
    
}
header .box_img {
    width: 3rem;
    height: 3rem;


}
header .box_img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    display: flex;


}

header h1{
    width: 120%;
    height: 30%;
    font-size: 1.5rem;
    background-color: blueviolet;


    padding: 15px 0.5px;
    display: flex;
    justify-content: space-between;
    
}